 <%= link_to page, id: dom_id(page), class: "p-4 -mx-4 hover:bg-gray-100" do %>
    <div class="flex">
      <div class="w-2/3">
        <h5 class="font-bold"><%= page.name %></h5>
        <div class="text-sm text-gray-700"><%= page.url %></div>
      </div>
      <div class="-my-4 flex flex-col justify-center items-center pl-1 border-solid border-l-2 border-gray-400 w-1/3">
        <% if page.last_result %>
            <!-- <h4 class="font-medium text-gray-700 font-bold">Recent results</h4> -->
            <%= render page.last_result %>
        <% else %>
          <h4 class="font-medium text-gray-700 font-bold">Not monitored</h4>
        <% end %>
        </div>
    </div>
  <% end %>
